<header class="head text-right">
	<ul>
		<a href="https://soundcloud.com/jordanrcmusic" target="_blank"><li><i class="fa fa-soundcloud" aria-hidden="true"></i></li></a>
		<a href="https://open.spotify.com/artist/32ZD69vCbq2sctfs9JBVN8" target="_blank"><li><i class="fa fa-spotify"></i></li></a>
		<a href="https://www.youtube.com/channel/UCH8IzGUE0SEDm-Ya9-Zn--A" target="_blank"><li><i class="fa fa-youtube"></i></li></a>
		<a href="https://www.instagram.com/jordan.r_c/" target="_blank"><li><i class="fa fa-instagram"></i></li></a>
	</ul>
</header>

<nav>
    <div class="nav-main">
	    <div class="menu-handle poop">
	      <span class="menu-text"><a id="cpBtn">
	        <div class="end"></div>
	        <div class="mid"></div>
	        <div class="end"></div>
	      </a></span>
	      <div class="logo-handle"><span class="logo-text" style="color:#972526;"> Jordan RC </span> </div>
	    </div>
	    <ul class="nav-list">
	      <span><i class="fa fa-close nav-close"></i></span>
	      <a href="/"><li class="logo" style="color:#972526;">Jordan RC</li></a>
	      <a href="/" class="home-button"><li>HOME</li></a>
	    </ul>
    </div>
</nav>


<div id="bg">
	<%= image_tag 'about.jpg', alt:'', class:img-responsive %>
</div>

<div class="about-me">
	<h3 class="text-center" style="margin-bottom: 30px; font-family: 'Oswald', sans-serif;"> About Jordan RC </h3>

	<p> Jordan RC is a musician living in San Francisco, California. He started playing piano at a very early age, and continued his passion for song writing on the guitar in high school. Inspired by many genres and artists, Jordan RC loves to play many different types of popular tunes. Utilizing live drum patterns and a guitar, he is now performing many covers spanning the blues, rock, and r&b genres. He is also still writing original songs, which can be found on his soundcloud at https://soundcloud.com/jordanrcmusic. Stay tuned and subscribe to this channel and like his videos to help promote his unique talent!
  </p>
</div>

<footer>
	 <ul class="social-icons">
	 	<a href="https://soundcloud.com/jordanrcmusic" target="_blank"><li><i class="fa fa-soundcloud footer" aria-hidden="true"></i></li></a>
		<a href="https://open.spotify.com/artist/32ZD69vCbq2sctfs9JBVN8" target="_blank"><li><i class="fa fa-spotify footer"></i></li></a>
		<a href="https://www.youtube.com/channel/UCH8IzGUE0SEDm-Ya9-Zn--A" target="_blank"><li><i class="fa fa-youtube footer"></i></li></a>
		<a href="https://www.instagram.com/jordan.r_c/" target="_blank"><li><i class="fa fa-instagram footer"></i></li></a>
	</ul>
</footer>

<script src="js/main.js"></script>