<header class="head text-right">
	<ul>
		<a href="https://soundcloud.com/jordanrcmusic" target="_blank"><li><i class="fa fa-soundcloud" aria-hidden="true"></i></li></a>
		<a href="https://open.spotify.com/artist/32ZD69vCbq2sctfs9JBVN8" target="_blank"><li><i class="fa fa-spotify"></i></li></a>
		<a href="https://www.youtube.com/channel/UCH8IzGUE0SEDm-Ya9-Zn--A" target="_blank"><li><i class="fa fa-youtube"></i></li></a>
		<a href="https://www.instagram.com/jordan.r_c/" target="_blank"><li><i class="fa fa-instagram"></i></li></a>
	</ul>
</header>

<nav>
    <div class="nav-main">
	    <div class="menu-handle poop">
	      <span class="menu-text"><a id="cpBtn">
	        <div class="end"></div>
	        <div class="mid"></div>
	        <div class="end"></div>
	      </a></span>
	      <div class="logo-handle"><span class="logo-text" style="color:#972525;"> Jordan RC </span> </div>
	    </div>
	    <ul class="nav-list">
	      <span><i class="fa fa-close nav-close"></i></span>
	      <li class="logo" style="color:#972525;">Jordan RC</li>
	      <div class="move-right">
		      <a href="#news"><li>NEWS</li></a>
		      <a href="#music"><li>MUSIC</li></a>
		      <a href="#videos"><li>VIDEOS</li></a>
		      <a><li><%= link_to "BIO", bio_path, style:'color:white; text-decoration:none', class:'' %></li></a>
		      <a href="#contact"><li>CONTACT</li></a>
          <% if current_user %>
          <li><%= link_to "EDIT", edit_user_registration_path %></li>
          <li><%= link_to "LOGOUT", destroy_user_session_path, method: :delete, class:'nav-link' %></li>
          <% else %>
          <li><%= link_to "LOGIN", new_user_session_path, class:'nav-link' %></li>
          <% end %>
	      </div>
	    </ul>
    </div>
</nav>